// https://eslint.org/docs/user-guide/configuring
{
    "root": true,
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "es6": true
    },
    // required to lint *.vue files
    "plugins": [
        "html"
    ],
    "rules": {
        "space-before-function-paren": ["error", "always"],
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        // allow paren-less arrow functions
        "arrow-parens": 0,
        // 'arrow-parens': [
        //     2,
        //     'as-needed'
        // ],
        // allow async-await
        "generator-star-spacing": "off",
        // allow debugger during development
        "no-debugger": "error"
    }
}
